@media (max-width: 1663px){
    .menores{
        display: flex;
        justify-content: space-evenly;
    }
}

@media (max-width: 1050px){
    .linha .maior{
        height: auto;
        max-width: 440px;
    }
    
    .menores{
        flex-wrap: wrap;
    }
}



@media (max-width: 650px){
    .menuCel{
        display: flex;
        flex-direction: column-reverse;
    }
   
    #menu {
        flex-direction: column;
    }

    #navMenu {
        justify-content: center;
    }

    .mundo {
        width: 500px;
        height: 500px;
    }
}

@media (max-width: 499px){
    .mundo{
        border-radius: 0;
    }
}

@media (max-width: 425px){
    .linha .maior {
        height: auto;
        width: 320px;
        box-shadow: none;
        border-radius: 0;
        border: none;
    }

    .linha .menor {
        width: 320px;
        box-shadow: none;
        border-radius: 0;
        border: none;
    }

    .mundo {
        width: 400px;
        height: 600px;
    }

    #fechar{
        top: -12px;
        right: -7px;
    }
    
    .js-content p {
    font-size: 1rem;
    }
}

@media (max-width: 375px){
    .linha .maior {
        height: auto;
        width: 300px;
    }

    .linha .menor {
        width: 300px;
        height: auto;
    }

    .mundo {
        width: 370px;
    }
}

@media (max-width: 360px){
    .linha .maior {
        height: auto;
        width: 270px;
    }

    .linha .menor {
        width: 270px;
    }

    .mundo {
        width: 300px;
    }
}

