*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

body{
  background: url(./assets/galaxia1.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  background-position: center;
}

/*Menu*/
#menu #menuPerfil  img{
  max-width: 80px;
  border-radius: 100%;
  border: 2px solid #2f2f2f;
}

#menu p{
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

#menu p{
  padding: 5px;
}

#menu a p{
  transition: 0.5s;
  padding: 5px;
}

#menu a p:hover{
  color: rgb(69 6 142);
  font-size: 1.4rem;
}

#menu #navMenu a img:hover{
  max-width: 40px;
  padding: 5px;
}

#menuPerfil{
  display: flex;
  align-items: center;
}

#navMenu a img{
  max-width: 25px;
  transition: 0.8s;
  filter: invert(100%);
}

#navMenu {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  justify-content: flex-end;
}

#menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(32 32 35 / 40%);
  padding: 10px 20px;
  border-bottom: 1px solid #2f2f2f;
  backdrop-filter: blur(100px);
}


/*Principal*/
.bemVindo{
  color: white;
  text-align: center;
  padding: 100px 0;
  font-size: 2.5rem;
  animation-name: anima;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  text-shadow: 2px 3px 15px #0086c7;
}

@keyframes anima {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
    font-size: 3rem;
  }
}


/*Corpo conteudo*/
.container {
  max-width: 90%;
  border-radius: 3px 3px 0 0;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: rgb(0 0 0 / 58%);
  backdrop-filter: blur(100px);
  border: 1px solid #2f2f2f;
  border-bottom: none;
}

.linha .menor {
  color: white;
  max-width: 500px;
  padding: 20px;
  height: 450px;
  box-shadow: 2px 0px 6px #2f2f2f;
  background: rgb(32 32 35 / 0%);
  backdrop-filter: blur(100px);
  margin: 10px;
  border-radius: 3px;
  border: 1px solid #2f2f2f;
}

.linha .maior {
  color: white;
  max-width: 900px; 
  padding: 20px;
  height: 450px;
  box-shadow: 2px 0px 6px #2f2f2f;
  background: rgb(32 32 35 / 0%);
  backdrop-filter: blur(100px);
  margin: 10px;
  border-radius: 3px;
  border: 1px solid #2f2f2f;
}

.linha section img{
  max-width: 40px;
  border-radius: 5px;
}

.projetos .imgProjetos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.projetos .imgProjetos a p{
  border-bottom: 2px solid blueviolet;
}

.linha .projetos img{
  max-width: 100%;
}

.linha section ul{
  list-style: none;
}

.linha section li{
  max-width: 400px;
  margin-bottom: 5px;
}

.linha section ul a{
  color: white;
  font-size: 1.2rem;
}

.linha section p{
  padding: 5px;
  font-size: 1.2rem;
}

.linha ul p{
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
}

section h2 {
  text-align: center;
  padding: 20px;
  background: blueviolet;
  border-radius: 3px;
  margin-bottom: 20px;
}


/*Modal*/
#meuMundo{
  height: 100vh;
  width: 100%;
  background: rgba(0, 0 ,0 , 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0px;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
  animation-name: mundo;
  animation-duration: 1s;
}

@keyframes mundo{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.mundo{
  color: white;
  width: 600px;
  padding: 20px;
  height: 600px;
  margin: 10px;
  border-radius: 50%;
  border: 1px solid #2f2f2f;
  box-shadow: 2px 0 16px #0086c7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: rgb(0 0 0 );
  backdrop-filter: blur(100px);
}

.mundoFlex{
  display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
}

.mundoFlex p{
  padding: 5px;
}

#fechar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fe4;
  box-shadow: 3px 1px 8px #983200;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  background: #bf9600;
  color: #4a2c04;
  font-weight: 700;
  font-size: 1.2rem;
  transition: 0.5s
}

#fechar:hover{
  background: #d26a00;
}


/*footer*/
#contato {
  height: 150px;
  background: black;
  text-align: center;
  color: #0086c7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #2f2f2f;
}

.info-contato{
  list-style: none;
}

.info-contato a{
  color: #0086c7;
}
