* {

    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    max-width: 1125px;
    width: 100%;
    background: #71828a;
    margin: 0 auto;
}

/*corpo*/
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: darkslateblue;
}

/*Cabeçalho*/
header{
    background: #881731;
    padding-top: 55px;
}

header .container{
    
}
header .caixa-principal{
    margin: 2pc;
    padding-left: 72px;
}
header img{
    border-radius: 100%;
    max-width: 230px;
    border-style: solid;
    border-color: white;
}
header .sub-caixa {
    border-style: solid;
    padding: 10px 50px 10px 20px;
    margin: 5pc;
    border-color: white;
    margin-left: 2pc;
}
header .sub-caixa h1{
    font-size: 2.25rem;
}
header .sub-caixa p{
    font-size: 1.35rem;
    padding-bottom: 5px;
}
header .sub-caixa li p{
    font-size: 1.15rem;
}
header .sub-caixa a{
    font-size: 1.15rem;
}
header .linha{
    display: flex;
    border-style: solid;
    border-color: white;
    border-bottom-style: none;
    flex-wrap: wrap;
}
header .sub-caixa ul li a{
    
}
header .text-white{
    color: white;
}
header .text-black{
    color:black;
}
header ul{

}


/*main*/
main{
    background: #881731;
}

main .container{
    border: solid;
    border-top: none;
    border-color: white;
}  
main .linha{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10pc;
    padding-top: 15px;
    flex-flow: row wrap;
    max-width: 990px;
    margin: 0 auto;
}
.coluna{
    flex-basis: 49%;
}
main .coluna-esquerda{
    max-width: 400px;
}
main .linha .coluna-esquerda section{
    border-style: solid;
    border-color: white;
    margin-bottom: 30px;
    padding-bottom: 109px;
}
main .coluna-esquerda h2{
    font-size: 1.8rem;
    padding-left: 20px;
    padding-top: 20px;
}
main .coluna-esquerda p{
    font-size: 1.2rem;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    text-align: justify;
}
main .coluna-esquerda li{
    font-size: 1.2rem;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    text-align: justify;
}
main .coluna-direita{
   max-width: 400px;
}
#cima-direita{
    border-style: solid;
    border-color: white;
    margin-bottom: 30px;
    padding-bottom: 21px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    text-align: justify;
    line-height: 1.4;
}
#cima-direita h2{
font-size: 1.8rem;
}
#cima-direita p, strong{
font-size: 1.2rem;
}
#cima-direita h3{
font-size: 1.5rem;
}
#baixo-direita{
    padding-bottom: 148px; 
    border-style: solid;
    border-color: white; 
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    text-align: justify;
    line-height: 1.4;
}
#baixo-direita h2{
    font-size: 1.8rem;
}
#baixo-direita p, strong{
    font-size: 1.2rem;
}
#baixo-direita h3{
    font-size: 1.5rem;
}

/*footer*/
footer{
    background: darkslateblue;
}
footer .container{
    display: flex;
    justify-content: space-between;
    background: darkslateblue;
    padding-bottom: 20px;
    font-size: 1.2rem;
}
footer .info-contato{
    margin: 20px;
    padding-left: 88px;
}
footer ul li{
    padding-right: 20px;
    color: white;
}
footer .redes-sociais{
    display: flex;
    margin: 20px;
    padding-right: 92px;
    text-align: center;
    flex-wrap: wrap;
}
footer .redes-sociais img{
    max-width: 75px;
}
footer .text-white{
    color: white;
}
footer .text-black{
    color:black;
}
    

/*@media*/

@media only screen and (min-width: 768px){
/*header*/

}





